{% extends "base.html.jinja" %}
{% block title %}Hikes{% endblock %}
{% block head %}
<link rel="stylesheet" href="style/hikes.css" type="text/css">
{% endblock %}

{% block content %}
  <div class="hike__container">
    <h1>Proxy Falls Hike</h1>
    <div class="img__container" width="300px">
      <img src="images/wb_hikes/proxy_falls_2_small.jpg">
      <p>Photo taken by me (Nathan Taylor).</p>
    </div>
    <div class="hike__description">
    Normally this is a busy trail, but since the road is currently closed there were only a few 
    people out on the trail. 
      Some highlights of the hike:
      <ul>
        <li>Hiking on a closed highway with some nice views.</li>
        <li>Climbing over snow-covered lava beds at the top.</li>
        <li>The actual trail to the waterfall was fairly short and easy once we got to the top.</li>
      </ul>
    </div>
  </div>

  <div class="hike__container">
    <h1>Three-mile Lake Dunes Hike</h1>
    <div class="img__container" width="400px">
      <img src="images/wb_hikes/3_mile_lake_dunes_small.jpg">
      <p>Photo taken by me (Nathan Taylor).</p>
    </div>
    <div class="hike__description">
      This was supposed to be an easy 6-mile hike, but it turned into a 10+-mile hike since we parked 
      at the wrong trailhead. It was still fun!
      Some highlights of the hike:
      <ul>
        <li>A variety of landscape and scenery: sandy dunes, forest, hills, and a lake.</li>
        <li>Newts! There were a bunch of newts in the forested areas.</li>
        <li>The beach was relatively warm (usually when I go it's pretty windy).</li>
      </ul>
    </div>
  </div>
{% endblock %}
